body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header h1{
  text-align: center;
}
nav{
  text-align: center;
}
nav a{
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey; 
}
img{
   display: block;
  margin-right: auto;
  margin-left: auto; 
}
#featured-property{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}
#details{
  display: inline-flex;
}
#details div{
float: left;
width: 25%;
background-color: red;
text-align: center;
padding: 130px;
}